#pesquisa {
    background: var(--branco);
    cursor: pointer;
    margin: auto 0;
    border: solid 0.5px var(--preto);
}

.barra_pesquisa {
    display: flex;
    flex-grow: 0;
}

.lupa {
    background: url(../../img/Lupa.png) no-repeat;
    background-position: center;
    background-size: 50px 50px;
    cursor: pointer;
    flex-direction: center;
    justify-content: column;
    margin: auto 1.75rem;
    padding: 0 1rem;
}

.lupa:hover {
    background: url(../../img/Lupa-hover.png) var(--azul) no-repeat;
    background-size:  50px 50px;
    background-position: center; 
    border-radius: 0 20px 20px 0;
}