.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_lista {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 1rem; 
}

.menu_lista:hover{
    color: var(--amarelo);
}

.menu_toggle {

}

.logo {
    display: flex;
}

.inicio {
    color: var(--preto);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 2rem;
    text-decoration: none;
}

.inicio-desktop {
    margin: 0 0 0 4rem;
}

.inicio-desktop:hover {
    color: var(--amarelo);
}

.inicio-desktop.ativo {
    border-bottom: solid 3PX var(--azul);
}

.inicio-mobile { 
    cursor: pointer;
}