.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-lista {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 1rem; 
}

.menu-lista:hover {
    color: rgb(255, 219, 13);
    border-bottom: solid 3PX #3D88C7;
}

.inicio {
    color: #000000;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    text-decoration: none;
}

.inicio:hover {
    color: rgb(255, 219, 13);
}

.inicio-mobile { 
    cursor: pointer;
}