.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-lista {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 1rem; 
}

.menu-lista:hover{
    color: rgb(255, 219, 13);
}

.logo {
    display: flex;
}

.inicio {
    color: #000000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 2rem;
    text-decoration: none;
}

.inicio-desktop {
    margin: 0 0 0 2rem;
}

.inicio-desktop:hover{
    color: rgb(255, 219, 13);
}

.inicio-desktop.ativo{
    border-bottom: solid 3PX #3D88C7;
}

.inicio-mobile { 
    cursor: pointer;
}