.nav_superior {
    background-color: #DFF9FFFF;
    padding: 1rem;
    position: sticky;
    z-index: 1;
    top: 0;
}

.nav_divisao {
}

.nav-item {
    display: flex;
    align-items: end;
    justify-content: center;
}

.nav_selecao {
    color: #000000;
    display: flex;
    margin: 0 1rem 0 0;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav_selecao:hover {
    color: orange;
    border-bottom: solid 3px #3D88C7;
    cursor: pointer;
}