.nav_superior {
    background-color: #DFF9FFFF;
    padding: 1rem;
    position: sticky;
    z-index: 1;
    top: 0;
}

.nav_divisao {
    display: flex;
}

.nav_selecao {
    display: flex;
}

.nav_selecao:hover {
    color: orange;
    cursor: pointer;
}