@media screen and (min-width: 320px) {
    .novidades {
        padding: 3rem;
        overflow-x: scroll;
    }

    .inicio-mobile {
        width: 300px
    }

    .inicio-desktop {
        display: none;
    }

    .lupa {
        width: 300px;
    }

    .pesquisa { 
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .novidades {
        padding: 3rem;
    }

    .inicio-mobile {
        width: 100px;
    }

    .lupa {
        width: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .novidades {
        padding: 3rem;
    }

    .inicio-desktop {
        display: block;
    }

    .inicio-mobile {
        display: none;
    }

    .lupa {
        width: 50px;
        height: 50px;
    }
}